// Custom
// =================================================================
@import 'mixins';
@import 'variables';

// Base
// =================================================================
@import 'base/reset';
@import 'fonts';

// Components
// =================================================================
@import 'menu';

// Gui
// =================================================================


// Layout
// =================================================================

@import 'layout/header';
@import 'layout/section-skills';
@import 'layout/section-slider';

// Plugins
// =================================================================


// Utils
// =================================================================
@import '/node_modules/slick-carousel/slick/slick.css';
